// color variables
:root {
    --primary: #663399;
    --primary-light: #b48dd8;
    --primary-lightest: #e6d9f2;

    --body-color: #2c3e50;

    --white: #fff;
    --dark-red: #961c1c;
    --wood: #d6c8a1;
    --wood-dark: #94896f;
}