body {
  margin: 0;
}

#app {
  font-weight: normal;
  color: var(--body-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media  screen and (min-width: 992px) {
  main {
    margin: 0 auto;
    max-width: 992px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}


header {
  padding: 1.5rem 0;
  border-bottom: 2px solid var(--primary);
}

.title {
  font-size: 1.2rem;
  font-family: sans-serif;
}

.btn {
  &-default {
    border: 1px solid var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--primary-lightest);
    &:hover {
      background: var(--primary-light);
    }
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-lightest);
    transition: .2s;
  
    
    &:before {
      position: absolute;
      content: "";
      height: 1rem;
      width: 1rem;
      left: 4px;
      bottom: 4px;
      background-color: var(--white);
      transition: .2s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  
  input{
    &:checked + .slider {
      background-color: var(--primary);
    }
    &:focus + .slider {
      box-shadow: 0 0 1px var(--primary);
    }
    &:checked + .slider:before {
      transform: translateX(1rem);
    }
  }
}
